#second-div p:nth-child(even){
  color: red;
}
#second-div p:nth-child(odd){
  color: blue;
}
body > a[target]{
  color: red;
  font-size: 20px;

}
 body > a[href^="https://www.google.com"] {
  color: green;
  font-size: 20px;

}
#first-div > p::after {
  content: "NEW";
  color: yellow;
  background-color: rgb(25, 52, 76);
  padding: 3px;
  margin: 3px;
}
body > p:hover:nth-last-of-type(1){
  font-style: italic;
}

