.main-img {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 10px;
    color: #fff;
    background-color: rgb(133, 237, 202);
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
.head-menu {
    float: right;
    justify-content: space-evenly;
    font-size: 20px;
}
.head-menu li {
    padding: 10px;
}
.heading {
    margin-left: 50px;
    margin-top: 20px;
}
.main-img {
    margin-top: 10px;
}
.first-grid {
    margin-top: 50px;
}
.footer {
    margin-top: 10px;
    padding-top: 10px;
}