$stcolor: #fb5dad;
$ndcolor: #55fb9f;
$rdcolor: #b97aff;
$bckcolor: #050210;

body{
    background: $bckcolor;
}

.glitter{
    position: relative;
    width: 440px;
    height: 440px;
    border-radius: 100%;
    background: linear-gradient(transparent -70%, $stcolor, $ndcolor, $rdcolor);
    margin: 200px auto;
    filter: blur(10px);

    animation-name: circle-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function:linear;
    
}

.circle{
    position: relative;
    width: 400px;
    height: 400px;
    margin: -120px auto;
    border-radius: 100%;
    background: linear-gradient( $stcolor, $ndcolor, $rdcolor);
    bottom: 500px;
    box-shadow: 0px 0px 80px 20px rgba(255,255,255, 0.7);

    animation-name: circle-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function:linear;
}

.item{
    position: relative;
    width: 355px;
    height: 355px;
    margin: -876px auto;
    border-radius: 100%;
    background: $bckcolor;
}

.item-inner {
    position: relative;
    border-radius: 100%;
    width: 353px;
    height: 353px;
    margin: 522px auto;
    background-color: rgba(255, 255, 255, 0.5);

    animation-name: item-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}


@keyframes circle-animation {
    0% {transform: translateX(0px) rotate(0deg);}
   
    100% {transform:translateX(0px) rotate(360deg);}
}

@keyframes item-animation {
    0% {transform:translateX(0px) scale(0);
        opacity:(0.3);
        }

    100%  { transform: translateX(0px) scale(1);
        opacity:(0.8);
        }
}
 
